<div 
  id="fourthBlock-{{ section.id }}" 
  class="section-{{ section.id }}-padding" 
  data-section="{{ section.id }}"
  style=" background-image: url({{section.settings.background | image_url:  width: grande}});">
  <div class="page-width">
    <div class="fourth-block__body">
      <div class="fourth-block__table">
        {{ section.settings.image | image_url:  width: 152 | image_tag | replace: '<img', '<img class="fourth-block__img"'}}
        <div class="fourth-block__description">
          <h2 class="fourth-block__title paul-title paul-text--white">
            {{ section.settings.title }}
          </h2>
          {{ section.settings.description }}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "fourth-block",
  "tag": "section",
  "class": "fourth-block",
  "limit": 1,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "365 Day Money Back Guarantee",
      "label": "Slideshow"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Paragraph"
    },
    {
      "type": "image_picker",
      "id": "background",
      "label": "Image Background"
    }
  ]
}
{% endschema %}