<div 
  id="MainProduct-{{ section.id }}" 
  class="main-product page-width section-{{ section.id }}-padding" 
  data-section="{{ section.id }}"
  style="background-color: {{ section.settings.body_background }};">
  <div class="main-product__body">
    <div class="main-product__slider">
      <div class="main-product__img">
        <img src="{{ product.selected_or_first_available_variant.featured_media | img_url: 'master' }}" class="w-full" alt="{{ featured_image.alt | escape }}" id="ProductPhotoImg">
        <ul class="main-product__arrow paul-remove-style--ul">
          <li class="arrow arrow--left">
            {% render 'icon-arrow' %}
          </li>
          <li class="arrow arrow--right">
            {% render 'icon-arrow' %}
          </li>
        </ul>
      </div>
    </div>
    <div class="main-product__description">
      <h1 class="paul-title paul-text--white">{{product.title}}</h1>
      {% assign textProduct = product.content | split: "~" %}
      {% assign textProductQualities = textProduct | first %}
      {% assign textProductDescription = textProduct | last %}
      {%- if textProductQualities  == textProductDescription -%}
        <div class="paul-text--white">
          {{textProductDescription}}
        </div>
      {%- else -%}
      <div class="paul-text--white">
        <span class="main-product__description--features"></span>
        {{ textProductQualities }}
        {{ textProductDescription }}
      </div>
      {%- endif %}
    </div>
    <div class="main-product__buy">
      <div class="main-product__price">
        {%- if product.compare_at_price == "nil" -%}
          <span class="paul-title paul-text--white">{{product.price | money_without_trailing_zeros}}</span>
        {%- else -%}
          <span class="paul-title paul-text--white">{{product.price | money_without_trailing_zeros}}</span>
          <strike class="paul-subtitle paul-text--gray">{{product.compare_at_price | money_without_trailing_zeros}}</strike>
        {%- endif %}
      </div>
      <div class="main-product__select">
        <label for="types" class="paul-text paul-text--white">Select Flavor:</label>
        <select name="types" id="types" class="paul-subtitle">
          
          {% for option in product.variants %}
            <option value="{{ option.id }}">
              {% assign titleProduct = option.title | split: "(" %}
              {{ titleProduct | first }}
            </option>
          {% endfor %}
        </select>
        <span class="arrow paul-animation">&#9650;</span>
      </div>
      <div class="main-product__btn-buy">
        <a href="#" class="button paul-subtitle">ADD TO CART
          {% render 'icon-cart' %}
        </a>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "main-product",
  "tag": "section",
  "class": "main-product",
  "blocks": [
  ],
  "settings": [
    {
      "type": "color",
      "id": "body_background",
      "label": "Body text",
      "default": "#000000"
    }
  ]
}
{% endschema %}
