<section id="MainProduct-{{ section.id }}" class="main-product page-width section-{{ section.id }}-padding" data-section="{{ section.id }}">
  <div class="main-product__slider">
    <div class="main-product__img">
      {{ product.featured_image.aspect_ratio }}
      <img src="{{product.featured_media}}" alt="">
    </div>
  </div>
  <div class="main-product__description">
    {{product.description}}
    <p>{{product.content}}</p>
  </div>
  <div class="main-product__buy"></div>
</section>

{% schema %}
{
  "name": "main-product",
  "tag": "section",
  "class": "section",
  "blocks": [
  ],
  "settings": [
  ]
}
{% endschema %}
