<div 
  id="thirdBlock-{{ section.id }}" 
  class="section-{{ section.id }}-padding" 
  data-section="{{ section.id }}"
  style="background-color: {{ section.settings.body_background }};">
  <div class="page-width">
    <div class="third-block__body">
      <div class="third-block__title">
        <h3 class="third-block__title--first paul-subtitle paul-text--white">
          {{ section.settings.subtitle }}
        </h3>
        <h2 class="third-block__title--second paul-title paul-text--white">
          {{ section.settings.title }}
        </h2>
      </div>
      <div class="third-block__table">
        {{ section.settings.table | image_url:  width: 534 | image_tag }}
      </div>
      <div class="third-block__description">
        <style>
          .third-block__description #icon-list:before{
            background-image: url({{section.settings.link-image}});
          }
        </style>
        {{ section.settings.description | replace: "|", "<span id='icon-list'><span>" }}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "third-block",
  "tag": "section",
  "class": "third-block",
  "limit": 1,
  "settings": [
    {
      "type": "text",
      "id": "subtitle",
      "default": "Fully Disclosed Formula.Premium Patented Ingredients.",
      "label": "Slideshow"
    },
    {
      "type": "text",
      "id": "title",
      "default": "Backed by Science at Scientifically Studied Doses!",
      "label": "Slideshow"
    },
    {
      "type": "image_picker",
      "id": "table",
      "label": "Image"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Paragraph"
    },
    {
      "type": "url",
      "id": "link-image",
      "label": "Link's image"
    },
    {
      "type": "color",
      "id": "body_background",
      "label": "Body text",
      "default": "#000"
    }
  ]
}
{% endschema %}